header {
  padding-top: .6rem;
  padding-bottom: .6rem;
  margin-bottom: 10px;
}

.card-header {
  padding: 10px 5px 10px 10px;
  color: white;
}


#train-schedule {
  padding: 1rem;
}

#add-train {
  padding: 1rem;
}

.card-action {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}